[submodule "GymCRM"]
	path = GymCRM
	url = https://github.com/NatyArevalo/GymCRM.git
[submodule "trainerbilling"]
	path = trainerbilling
	url = https://github.com/NatyArevalo/GymCRMBilling.git
[submodule "EurekaServer"]
	path = EurekaServer
	url = https://github.com/NatyArevalo/EurekaServer.git
